@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer components {
  /* SHADCN COMPONENTS */
  /* Form */

  .shad-button_bg-sky-500{
    @apply bg-sky-500 hover:bg-sky-600 text-light-1 flex gap-2 !important;
  }

  .form-message {
    color: red;
    font-size: 12px;
    margin-top: 2px;
  }
}

